## 연관성 분석 측정지표

# 연관성 분석 측정 지표
상품 추천, 즉 고객이 함께 많이 구매할 것 같은 상품을 예측하는 데에 가장 많이 활용되는 척도로는 지지도( support), 신뢰도(Confidence), 향상도(Lift)라는 것이 있다.

- 지지도: 사과와 우유를 얼마나 함께 구매하는지를 나타내는 지표라고 볼 수 있습니다. 지지도는 좋은 규칙(구성비가 높고 빈도가 많은)을 찾거나 불필요한 연산을 줄이기 위한 기준으로 사용된다. A와 B를 모두 포함하는 거래의 수/ 전체 거래의 수
- 신뢰도: 사과를 많이 구매한 사람 중 얼마나 많은 사람이 우유도 함께 구매했을까요? 확률을 구해보니 사과를 구매한 사람은 3명이고, 그 중 2명이 우유를 구매했네요. 그럼 여기서 구할 수 있는 신뢰도는 66.7%이다. 지지도와 달리  confidence(A->B)의 값과 confidence(B->A)의 값이 다르고 값이 1에 가까울수록 연관성이 높다.
- 향상도 : 지지도가 별로 팔리지 않는 상품을 솎아내기 위한 지표였다면 거꾸로 많이 ㄹ팔리는 인기상품을 골라낼 때 활용되는 것이 향상도입니다. A를 구매하지 않았을 때 품목 B를 구매할 확률 대비 A를 구매했을 때 품목 B의 구매 확률의 증가 비율을 의미한다. (A와 B를 모두 포함하는 거래의 수 * 전체 거래의수) / (A를 포함하는 거래의 수 * B를 포함하는 거래의 수) 향상도가 1이면 두 품목은 독립이고 1보다 작다면 음의 상관관계로 A를 구매하면 B를 구매하지 않을 확률이 구매할 확률보다 큼 을 의미한다. 향상도가 1보다 크면 두 품목은 양의 상관관계로 임의로  B를 구매할 확률보다  A를 구매한 후 B를 구매할 확률이 큼을 의미한다.

In [3]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [4]:
dataset = [['사과','치즈','생수'],
          ['생수','호두','치즈','고등어'],
          ['수박','사과','생수'],
          ['생수','호두','치즈','옥수수']]
te = TransactionEncoder()
te_ary = te.fit_transform(dataset)
df = pd.DataFrame(te_ary,columns=te.columns_)
df

     고등어     사과    생수     수박    옥수수     치즈     호두
0  False   True  True  False  False   True  False
1   True  False  True  False  False   True   True
2  False   True  True   True  False  False  False
3  False  False  True  False   True   True   True

In [5]:
#지지도 0.5
frequent_itemsets= apriori(df,min_support=0.5,use_colnames=True)
frequent_itemsets

   support      itemsets
0     0.50          (사과)
1     1.00          (생수)
2     0.75          (치즈)
3     0.50          (호두)
4     0.50      (생수, 사과)
5     0.75      (생수, 치즈)
6     0.50      (생수, 호두)
7     0.50      (치즈, 호두)
8     0.50  (생수, 치즈, 호두)

In [6]:
# 신뢰도가 0.3
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric='confidence',min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(생수),(사과),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
1,(사과),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
2,(생수),(치즈),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
3,(치즈),(생수),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
4,(생수),(호두),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
5,(호두),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
6,(치즈),(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
7,(호두),(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
8,"(생수, 치즈)",(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
9,"(생수, 호두)",(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
10,"(치즈, 호두)",(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
11,(생수),"(치즈, 호두)",1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
12,(치즈),"(생수, 호두)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
13,(호두),"(생수, 치즈)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf

In [8]:
# 연관성 높은 품목
# 호두, 치즈
# (호두,생수), 치즈
# 호두, (생수,치즈)

[과제]

아래 dataset으로 연관성 분석을 수행하세요

In [9]:
dataset= [['Milk','Onion','Nutmeg','Eggs','Yogurt'],
          ['Onion', 'Nutmeg', 'Eggs', 'Yogurt'],
          ['Milk', 'Unicorn', 'Corn', 'Yogurt'],
          ['Corn', 'Onion', 'Onion', 'Ice cream', 'Eggs']]

In [10]:
te = TransactionEncoder()
te_ary = te.fit_transform(dataset)
df = pd.DataFrame(te_ary,columns=te.columns_)
df

    Corn   Eggs  Ice cream   Milk  Nutmeg  Onion  Unicorn  Yogurt
0  False   True      False   True    True   True    False    True
1  False   True      False  False    True   True    False    True
2   True  False      False   True   False  False     True    True
3   True   True       True  False   False   True    False   False

In [11]:
#지지도 0.5
frequent_itemsets= apriori(df,min_support=0.5,use_colnames=True)
frequent_itemsets

    support                       itemsets
0      0.50                         (Corn)
1      0.75                         (Eggs)
2      0.50                         (Milk)
3      0.50                       (Nutmeg)
4      0.75                        (Onion)
5      0.75                       (Yogurt)
6      0.50                 (Eggs, Nutmeg)
7      0.75                  (Eggs, Onion)
8      0.50                 (Yogurt, Eggs)
9      0.50                 (Yogurt, Milk)
10     0.50                (Onion, Nutmeg)
11     0.50               (Yogurt, Nutmeg)
12     0.50                (Yogurt, Onion)
13     0.50          (Eggs, Onion, Nutmeg)
14     0.50         (Yogurt, Eggs, Nutmeg)
15     0.50          (Yogurt, Eggs, Onion)
16     0.50        (Yogurt, Onion, Nutmeg)
17     0.50  (Yogurt, Eggs, Onion, Nutmeg)

In [12]:
# 신뢰도가 0.3
from mlxtend.frequent_patterns import association_rules
association_rules(frequent_itemsets, metric='confidence',min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Nutmeg),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
1,(Nutmeg),(Eggs),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
2,(Eggs),(Onion),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
3,(Onion),(Eggs),0.75,0.75,0.75,1.000000,1.333333,0.1875,inf
4,(Yogurt),(Eggs),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
5,(Eggs),(Yogurt),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
6,(Yogurt),(Milk),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
7,(Milk),(Yogurt),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
8,(Onion),(Nutmeg),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
9,(Nutmeg),(Onion),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
10,(Yogurt),(Nutmeg),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
11,(Nutmeg),(Yogurt),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
12,(Yogurt),(Onion),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
13,(Onion),(Yogurt),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
14,"(Eggs, Onion)",(Nutmeg),0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
15,"(Eggs, Nutmeg)",(Onion),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
16,"(Onion, Nutmeg)",(Eggs),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
17,(Eggs),"(Onion, Nutmeg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
18,(Onion),"(Eggs, Nutmeg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
19,(Nutmeg),"(Eggs, Onion)",0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
20,"(Yogurt, Eggs)",(Nutmeg),0.50,0.50,0.50,1.000000,2.000000,0.2500,inf
21,"(Yogurt, Nutmeg)",(Eggs),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
22,"(Eggs, Nutmeg)",(Yogurt),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
23,(Yogurt),"(Eggs, Nutmeg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
24,(Eggs),"(Yogurt, Nutmeg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
25,(Nutmeg),"(Yogurt, Eggs)",0.50,0.50,0.50,1.000000,2.000000,0.2500,inf
26,"(Yogurt, Eggs)",(Onion),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
27,"(Yogurt, Onion)",(Eggs),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
28,"(Eggs, Onion)",(Yogurt),0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
29,(Yogurt),"(Eggs, Onion)",0.75,0.75,0.50,0.666667,0.888889,-0.0625,0.75
30,(Eggs),"(Yogurt, Onion)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
31,(Onion),"(Yogurt, Eggs)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
32,"(Yogurt, Onion)",(Nutmeg),0.50,0.50,0.50,1.000000,2.000000,0.2500,inf
33,"(Yogurt, Nutmeg)",(Onion),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
34,"(Onion, Nutmeg)",(Yogurt),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
35,(Yogurt),"(Onion, Nutmeg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
36,(Onion),"(Yogurt, Nutmeg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
37,(Nutmeg),"(Yogurt, Onion)",0.50,0.50,0.50,1.000000,2.000000,0.2500,inf
38,"(Yogurt, Eggs, Onion)",(Nutmeg),0.50,0.50,0.50,1.000000,2.000000,0.2500,inf
39,"(Yogurt, Eggs, Nutmeg)",(Onion),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
40,"(Yogurt, Onion, Nutmeg)",(Eggs),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
41,"(Eggs, Onion, Nutmeg)",(Yogurt),0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
42,"(Yogurt, Eggs)","(Onion, Nutmeg)",0.50,0.50,0.50,1.000000,2.000000,0.2500,inf
43,"(Yogurt, Onion)","(Eggs, Nutmeg)",0.50,0.50,0.50,1.000000,2.000000,0.2500,inf
44,"(Yogurt, Nutmeg)","(Eggs, Onion)",0.50,0.75,0.50,1.000000,1.333333,0.1250,inf
45,"(Eggs, Onion)","(Yogurt, Nutmeg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
46,"(Eggs, Nutmeg)","(Yogurt, Onion)",0.50,0.50,0.50,1.000000,2.000000,0.2500,inf
47,"(Onion, Nutmeg)","(Yogurt, Eggs)",0.50,0.50,0.50,1.000000,2.000000,0.2500,inf
48,(Yogurt),"(Eggs, Onion, Nutmeg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
49,(Eggs),"(Yogurt, Onion, Nutmeg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
50,(Onion),"(Yogurt, Eggs, Nutmeg)",0.75,0.50,0.50,0.666667,1.333333,0.1250,1.50
51,(Nutmeg),"(Yogurt, Eggs, Onion)",0.50,0.50,0.50,1.000000,2.000000,0.2500,inf

In [ ]:
deaturs = ole cpfksrtj--fop9ejwosdjiid hhcotfg) gkxhd